@charset "UTF-8";
/* CSS Document */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  position: relative;
  padding-bottom: 3rem;
  min-height: 100%;
}

header {
	margin: 0;
	overflow: hidden;
    background-color: #000;
}

.navbar {
	list-style-type: none;
	max-width: 1000px;
	margin: auto;
	padding-left: 3%;
	padding-right: 4%;
}

header li {
    float: left;
	font-size: 1.2em;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 12px 14px 12px;
    text-decoration: none;
	margin: 0;
	line-height: 2.5;
	max-height: 58px;
}

header li:last-of-type {
	float: right;}

header li:last-of-type a {
	line-height: 1.8;
	padding: 5px 12px 12px 12px;
	border-radius: 5px 5px 0px 0px;
	margin-top: 8px;
	animation: textColor
	  	 	 12s
	  		 linear
	  	     0s
	  		 infinite
	  		 alternate
	         none;
}

#contact:hover {
	background-color: #333;
	animation: none;
}

header li a .navlogo {
padding: 0;
margin-top: 5px;
margin-right: 15px;
margin-left: 0px;
}

header li :hover {
    background-color: #333;
}

#logo:hover, .navlogo:hover{
	background-color: #000;
}

main {
  max-width: 1000px;
  padding: 0 5% 0 5%;
  margin: auto;
}


.pagetitle h1 {
 font-size: 2.5em; 
 margin-bottom: 8px;
 line-height: 1;
}

.pagetitle h2 {
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 30px;
  font-style: italic;
}



/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
}

article {
  position: relative;
  opacity: .95;
  height: 230px;
  transition: transform .4s; /* Animation */
}

@keyframes textColor {
    
    0%  {background-color: #0D4297;}
    25% {background-color: #17A346;}
	50%   {background-color: #D76869;}
    100%  {background-color: #D1A612;}
}

.article-img {
  width: 100%;
  object-fit: cover;
  height: 230px;
}

article:hover {
	opacity: 1;
	background: #fff;
	transform: scale(1.15);
	z-index: 2;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,.3);
}

.article-title {
  position: absolute;
  bottom: -18.5px;
  padding: 2% 5%;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  color: #fff; 
}

article:hover .article-title {
	animation: textColor
	  	 	 12s
	  		 linear
	  	     0s
	  		 infinite
	  		 alternate
	         none;
	bottom: -20.5px;
	opacity: .85;	
}

article:hover img {
	opacity: .85;
}

footer {
    text-align: center;
    background: #000;
    color: #fff;
    width: 100%;
    max-width: none;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px .5% 2px .5%;
	transition: transform .4s; /* Animation */
  }

footer:hover {
	animation: textColor
	  	 	   12s
	  		   linear
	  	       0s
	  		   infinite
	  		   alternate
	           none;
	}

@media only screen and (max-width: 1000px) {
 body {
    padding-bottom: 4rem;
  }
 article, .article-img {
  height: 27vw;
  max-height: 230px;
  }
}


@media only screen and (max-width: 572px) {
  body {
     padding-bottom: 3rem;
  }
  .pagetitle h1 {
    font-size: 2em;
  }
  
  article, .article-img {
  height: 40vw;
  opacity: 1;
  }
	
  article:hover {
  transform: scale(1);
  box-shadow: none;
  }
	
  footer {
    font-size: .97em;
  }
}